button {
    height: 7%;
    width: 10%;
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
}

#up {
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #3e4da5 transparent;
    margin-top: 30%;
    margin-bottom: 70%;
    margin-left: 50%;
    margin-right: 50%;

}

#down {
    border-width: 100px 50px 0 50px;
    border-color: #3e4da5 transparent transparent transparent;
    margin-top: 70%;
    margin-bottom: 30%;
    margin-left: 50%;
    margin-right: 50%;
}

#left {
    border-width: 50px 100px 50px 0;
    border-color: transparent #3e4da5 transparent transparent;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 35%;
    margin-right: 65%;
}

#right {
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #3e4da5;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 65%;
    margin-right: 35%;
}